<table>
	<tbody>
		<tr class="odd">
			<td>
				<div class="container-inline">
					<div class="form-item form-type-markup">
						 <label>{{ vars['remember']['#title'] }}</label>{{ vars['remember']['#value'] }}
					</div>
				</div>
				<div class="description">{{ vars['remember']['#description'] }}</div>
			</td>
			<td>
				<div class="container-inline">
					<div class="form-item form-type-markup">
						<label>{{ vars['session']['#title'] }}</label>{{ vars['session']['#value'] }}
					</div>
				</div>
				<div class="description">{{ vars['session']['#description'] }}</div>
			</td> 
		</tr>
	</tbody>
</table> 